@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif
    !important;
    box-sizing: border-box;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 5px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';