.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    @media (max-width: 768px) {
        min-height: 500px;
        padding: 60px 0 70px 0;
    }
    @media (max-width: 576px) {
        min-height: 500px;
        padding: 50px 0 46px 0;
    }
    // .consultation__title

    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 8px;
    }

    // .consultation__descr

    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: left;
        color: #FFFFFF;
    }
    &__form {
        margin-top: 36px;
    }

    &__button {
        width: 300px;
        height: 55px;
        border-radius: 5px;
        font-size: 16px;
        &:hover {
            background-color:$hover-color;
            color: $main-color;
        }
    }

    @media (max-width: 991px) {
        &__title {
            text-align: center;
            font-size: 32px;
        }

        &__descr {
            text-align: center;
        }

        &__form {
            margin:36px auto 0 auto;
        }
    }
    @media (max-width: 576px) {
        &__title {
           
            font-size: 20px;
            margin-bottom: 15px;
        }

        &__descr {
            font-size: 18px;
        }

       
    }
}
